

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("assets/images/background.svg");
  background-size: cover;
}

/* .App:before{
  content: " ";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  opacity: .4; 
  z-index: -1;
  content: url('assets/images/background1.jpg');
} */

.App-Container {

  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
